<style>

  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              

</style>


<div class="page-header">
  <h1>assets <small>....</small></h1>
</div>


<section id='modals'>                                              

  <%= render "home/index"%>

</section> 

